@{
    Layout = "_HealthCheckLayout";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder()
                .withUrl("http://localhost:5181/healthcheckhub")
                .build();

            connection.start();
            //servicename and status received
            connection.on("receiveMessage", (serviceHealthCheckSignalRDto) => {
                // console.log(serviceHealthCheckSignalRDto.serviceName.toString());
                updateTable(serviceHealthCheckSignalRDto);
            }); // noktalı virgül eklenmeli

            function updateTable(serviceHealthCheckSignalRDto) {
                var healthyIcon = '<img src="/icons/servicehealthy.png" alt="Healthy" width="25" height="25"/>';
                var unhealthyIcon = '<img src="/icons/serviceunhealthy.png" alt="Unhealthy" width="25" height="25"/>';
                var checked = '<img src="/icons/checked.png" alt="Checked" width="25" height="25"/>';
                var unChecked = '<img src="/icons/unchecked.png" alt="UnChecked" width="25" height="25"/>';
               
                var existingRow = $('#table-body tr').filter(function () {
                    return $(this).find('td:nth-child(2)').text() === serviceHealthCheckSignalRDto.serviceName
                });

                if (existingRow.length > 0) {
                    existingRow.find('td:nth-child(3)').text(serviceHealthCheckSignalRDto.status);
                    existingRow.find('td:nth-child(4)').text(parseFloat(serviceHealthCheckSignalRDto.cpuUsage).toFixed(2) + '%');
                    existingRow.find('td:nth-child(5)').text(parseFloat(serviceHealthCheckSignalRDto.physicalMemoryUsage).toFixed(2) + 'MB');
                    existingRow.find('td:nth-child(6)').text(parseFloat(serviceHealthCheckSignalRDto.virtualMemoryUsage).toFixed(2) + 'MB');
                    existingRow.find('td:nth-child(7)').text(parseFloat(serviceHealthCheckSignalRDto.privateMemoryUsage).toFixed(2) + 'MB');
                    
                    existingRow.find('td:nth-child(8)').html(serviceHealthCheckSignalRDto.isHealthy ? healthyIcon : unhealthyIcon);
                    existingRow.find('td:nth-child(9)').html(serviceHealthCheckSignalRDto.isResourceUsageLimitExceeded ? checked : unChecked);
                } else {
                    var row = `<tr>
                                                        <td></td>
                                                                                        <td>${serviceHealthCheckSignalRDto.serviceName}</td>
                                                                                        <td>${serviceHealthCheckSignalRDto.status}</td>
                                                                                                        <td>${parseFloat(serviceHealthCheckSignalRDto.cpuUsage).toFixed(2) + '%'}</td>
                                                                                                        <td>${parseFloat(serviceHealthCheckSignalRDto.physicalMemoryUsage).toFixed(2) + 'MB'}</td>
                                                                                                        <td>${parseFloat(serviceHealthCheckSignalRDto.virtualMemoryUsage).toFixed(2) + 'MB'}</td>
                                                                                                        <td>${parseFloat(serviceHealthCheckSignalRDto.privateMemoryUsage).toFixed(2) + 'MB'}</td>
                                                                                                     
                                                                                                <td>
                                                                                                ${serviceHealthCheckSignalRDto.isHealthy ? healthyIcon : unhealthyIcon}                                                  
                                                                                                </td>
                                                                                                                                <td>${serviceHealthCheckSignalRDto.isResourceUsageLimitExceeded ? checked : unChecked}</td>
                                                                                             
                                                   </tr>`;
                    $('#table-body').append(row);
                }
                $('#diskUsage').text(parseFloat(serviceHealthCheckSignalRDto.diskUsage).toFixed(2) + '%');
            }
        });
    </script>
    <style>
        tbody tr:nth-child(odd) {
            background-color: lightgreen;
        }
    </style>
</head>
<body>
    <br />
    <div class="container-fluid" style="display:flex">
        <h3 style="margin-top:12px">Health Check Status</h3>
        <img src="~/icons/status.png" width="120px" height="60px" />
        <img src="~/icons/live-streaming.png" width="120px" height="60px" />
    </div>
    <br />

    <table class="table">
        <thead style="background-color:green; color:white">
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Health</th>
                <th scope="col">CpuUsage</th>
                <th scope="col">PhysicalMemoryUsage</th>
                <th scope="col">VirtualMemoryUsage</th>
                <th scope="col">PrivateMemoryUsage</th>
                <th scope="col">IsHealthy</th>
                <th scope="col">IsResourceUsageLimitExceeded</th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
    <div id="diskUsageContainer" style="position:fixed; bottom: 10px; left: 10px; display: flex;">
        <div class="row">
            <div class="col">Disk Kullanımı:</div>
            <div class="col" id="diskUsage"></div>
        </div>
    </div>

    </body>
</html>